#robot-screen {
    display: flex;
    justify-content: center;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
}

#robot-screen-main {
    background-color: rgb(0, 0, 0, 0.3);
    border: solid black 1px;
    border-radius: 2rem;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 40vh;
    justify-content: center;
}

#robot-screen-upper {
    margin: 0.5rem 0;
    display: flex;
    min-width: 65vw;
    justify-content: space-between;
    flex-grow: 1;
}

#robot-image-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
}

#hourglass {
    animation: spin-hourglass 1s linear infinite;
}

#currency-container {
    width: 8rem;
    display: flex;
    padding: 0 0 0 0.5rem;
    flex-direction: column;
    align-items: flex-start;
}

#currency-container-inner {
    background-color: #e83511;
    border-radius: 0.6rem;
    padding: 0.6rem;
}

#currency {
    font-size: 1rem;
    color: #111;
    margin: 0.3rem 0;
}

#robot-stats {
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1rem;
    padding: 0.3rem;
    background-color: #e83511;
    border-radius: 0.5rem;
}

#robot-stats p {
    margin: 0.2rem;
    font-size: 1rem;
    /* color: #fbfaf9; */
    color: #111
}

#robot-image{
    width:200px;
    height: 200px;
}

#robot-speach-container {
    max-width: 50vw;
    display: flex;
    min-height: 2.5rem;
}

#robot-speach {

    font-size: 0.9rem;
    margin: 0.4rem;

}

#robot-display-message-container, #learning-fail-container {
    min-height: 2rem;
    /* color: #e83511; */
}

#robot-display-message {
    margin: 0.4rem;
}

@keyframes spin-hourglass {
    0% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

