#virus-sweeper-page {
    background-image: url('./virusBackground.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#virus-sweeper-rules{
    background-color: rgb(117, 52, 128, 0.8);
    width: 60vw;
    border:1px solid black;
    border-radius: 8px;
    margin: 20px auto;
    padding: 20px;
    color: #fff;
    font-size: 1.5em;
}

#virus-sweeper-page h1{
    color: #fff;
}

#virus-sweeper-start-button{
    margin: auto;
    border: 2px solid #111;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    line-height: 24px;
    padding: 5px 25px; 
    text-align: center;
    background-color: #2e81e0;
    font-family: 'Jersey 15';
    font-size: 1rem;
    box-shadow: 8px 8px 0px #111;
    transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
}

#virus-sweeper-start-button:hover{
    box-shadow: 0px 0px 0px #111; 
    transform: translate(8px, 8px);
    outline: 0;
}

