#button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-contianer-upper {
    display: flex;
}

#button-contianer-lower {
    display: flex;
    margin: 0.8rem;
}

#energy-buttons, #memory-buttons, #repair-button-container, #speak-button-container, #kill-robot-container {
    display: flex;
    flex-direction: column;
    margin: 0.2rem;
    padding: 0.5rem;
}

#memory-buttons button, #energy-buttons button, #repair-button-container button, #kill-robot, #speak-button {
    margin: 0.4rem;
    align-items: center;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 0.8rem;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    background-color: #e0722e;
}

#memory-buttons button:after, #energy-buttons button:after, #repair-button-container button:after, #kill-robot:after, #speak-button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

#memory-buttons button:hover:after, #energy-buttons button:hover:after, #repair-button-container button:hover:after, #kill-robot:hover:after, #speak-button:hover:after{
    transform: translate(0, 0);
}  

#memory-buttons button:hover, #energy-buttons button:hover, #repair-button-container button:hover, #kill-robot:hover, #speak-button:hover {
    outline: 0;
}
