#navbar-container {
    display: flex;
    width: 100vw;
    justify-content: center;
}

#navbar {
    background-color: #ffc433;
    width: 80vw;
    display: flex;
    border-radius: 0.6rem;
    justify-content: space-between;
    padding: 0.3rem 0.8rem;
    align-items: center;
    margin-top: 0.4rem;
}

#navbar-left a, #navbar-right a {
    color: #111;
}

#navbar-right {
    display: flex;
    align-items: center;
}

#navbar-games-container {
    padding-right: 0.3rem;
}

#navbar-left:hover, #navbar-games-container:hover {
    scale: 1.1;
    cursor: pointer;
}

#delete-account, #logout-button {
    background-color: #e83511;
    color: #111;
    padding: 0.4rem 0.7rem;
    margin: 0.4rem 0.5rem;
}

#delete-account:hover, #logout-button:hover {
    scale: 1.1;
}